<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="https://www.coolmate.me/images/favicon.png"/>
    <title>Áo Thun, Áo Phông Nam - Cool Mate</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/hover.css" rel="stylesheet"/>
    <script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

</head>
<body>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- Navbar -->
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);">
            <div class="d-flex flex-column align-items-center  px-3 pt-2 text-black min-vh-100">
                <a href="/" class="d-flex align-items-center  mb-md-3 mt-md-3 text-black text-decoration-none">
                    <img src="../image/logo-app.svg" width="126" height="45">
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100"
                    id="menu"
                    style="width: 126px">
                    <li class="nav-item ps-1">
                        <a href="/dashboard" class="nav-link align-middle px-0 align-self-center" id="nav-btn">
                            <img src="../image/icon/dashboard-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline " style="color: black">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0 align-self-center" id="nav-btn">
                            <img src="../image/icon/Chat-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Messenger</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/product" id="nav-btn" class="nav-link align-middle px-0 align-self-center"
                           style="background-color: #b6b6b6">
                            <img src="../image/icon/product-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Product</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/customers" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/customer-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Customer</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/bills" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/bill-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Bill</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/voucher-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Voucher</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/notifi-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Notification</span>
                        </a>
                    </li>
                </ul>
                <hr style="width: 100%; color: black;margin-bottom: 12px">
                <div class="dropdown align-items-center" style="width: 100% ;height: 60px;padding-bottom: 10px">
                    <a href="#"
                       class=" rounded d-flex align-items-center text-black text-decoration-none dropdown-toggle"
                       id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false"
                       style="width: 100%; height: 100%;margin-bottom: 20px">
                        <img src="../image/chengwei-pan-2.jpg" width="30" height="30"
                             class="rounded-circle" style="margin-left: 30px;margin-right: 20px">
                        <span class="d-none d-sm-inline mx-1" style="color: black">UserName</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/login">Sign out
                            <img src="../image/icon/logout-icon.svg" width="30" height="30"
                                 style="margin-left: 40px"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- end Navbar -->

        <!-- Content -->
        <div class="col py-3" style=" width: 100%;">
            <div class="ps-5" style="width: 100%"><h2>Add Product</h2></div>

            <form action="" method="post" style="width: 100%;background-color: #ffffff;border-radius: 10px"
                  class="mt-5 ps-5 pe-3 p-2 row" id="form_add" enctype="multipart/form-data">
                {{#if msg}}
                    {{{msgFile}}}
                {{/if}}
                <div class="row mb-3">
                    <label for="inputNameProduct" class="col-sm-2 col-form-label">Product ID</label>
                    <div class="col-sm-5">
                        <input name="idProduct" type="text" class="form-control" id="inputIDProduct" required
                               pattern="\S+.*">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputNameProduct" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-5">
                        <input name="nameProduct" type="text" class="form-control" id="inputNameProduct" required
                               pattern="\S+.*">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputPriceProduct" class="col-sm-2 col-form-label">Price</label>
                    <div class="col-sm-5">
                        <input name="priceProduct" type="number" class="form-control" id="inputPriceProduct" required
                               min="0">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputPriceProduct" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-5">
                        <textarea class="form-control" id="Description" name="Description" required
                                  pattern="\S+.*"></textarea>
                    </div>
                </div>
                <div class="col-12 row">
                    <div class="col-md-2">
                        <label for="inputState" class="form-label">Style</label>
                        <select id="inputState" class="form-select" name="style">
                            <option value="Oversize"> Oversize</option>
                            <option value="Regular fit"> Regular fit</option>
                            <option value="Áo ngắn tay"> Áo ngắn tay</option>
                            <option value="Áo dài tay"> Áo dài tay</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="inputState" class="form-label">Catalog</label>
                        <select id="inputState" class="form-select" name="Catalog">
                            <option value="Áo thun"> Áo thun</option>
                            <option value="Áo sơ mi"> Áo sơ mi</option>
                            <option value="Áo khoác"> Áo khoác</option>
                            <option value="Áo polo"> Áo polo</option>
                            <option value=" Áo tank top"> Áo tank top</option>
                            <option value=" Áo thể thao"> Áo thể thao</option>
                            <option value=" Áo in hình"> Áo in hình</option>
                            <option value=" Áo khoác thể thao"> Áo khoác thể thao</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="inputState" class="form-label">Material</label>
                        <select id="inputState" class="form-select" name="material">
                            <option value="Cotton"> Cotton</option>
                            <option value="Polyester"> Polyester</option>
                            <option value="Recycle"> Recycle</option>
                            <option value="Excool"> Excool</option>
                            <option value="Cafe"> Cafe</option>
                            <option value="Denim"> Denim</option>
                            <option value="Kaki"> Kaki</option>
                            <option value="Bamboo"> Bamboo</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="inputState" class="form-label">Purpose</label>
                        <select id="inputState" class="form-select" name="purpose">
                            <option value="Chơi thể thao"> Chơi thể thao</option>
                            <option value="Đi làm"> Đi làm</option>
                            <option value="Đi chơi"> Đi chơi</option>
                            <option value="Đi du lịch"> Đi du lịch</option>
                            <option value="Đi đi học"> Đi đi học</option>
                            <option value="Ở nhà"> Ở nhà</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="inputState" class="form-label">Feature</label>
                        <select id="inputState" class="form-select" name="feature">
                            <option value="Chống nhăn"> Chống nhăn</option>
                            <option value="chống tia UV"> chống tia UV</option>
                            <option value="Chống nắng"> Chống nắng</option>
                            <option value="Co dãn tốt"> Co dãn tốt</option>
                            <option value="Mềm mại"> Mềm mại</option>
                            <option value="Thoải mái"> Thoải mái</option>
                            <option value="Nhanh khô"> Nhanh khô</option>
                            <option value="Thoáng khí"> Thoáng khí</option>
                            <option value="Thấm hút tốt"> Thấm hút tốt</option>
                        </select>
                    </div>
                </div>

                <div style="width: 100%" class="mt-1">
                    <button class="btn btn-success add_item_btn">Add Color</button>
                </div>
                <div class="row mb-3" id="product_list_color">
                    <div class="row p-2 mt-1" style="border: 1px solid rebeccapurple; border-radius: 10px">
                        <div class="col-1">
                            <label for="inputCity" class="form-label">STT</label>
                            <input name="stt[]" type="text" class="form-control" id="inputCity" readonly
                                   value="1">
                        </div>
                        <div class="col-2">
                            <label for="inputCity" class="form-label">Name Color</label>
                            <input name="nameColor[]" type="text" class="form-control" id="inputCity" required
                                   pattern="\S+.*">
                        </div>
                        <div class="col-2">
                            <label for="inputPriceProduct" class="form-label">Image</label>
                            <input name="colorImage" class="form-control" type="file" id="AddContentImage" required>
                        </div>
                        <div class="col-5  ms-1 p-1  me-1" style="border: 1px solid #000000;border-radius: 10px ">
                            <div class="row">
                                <div class="col-4">
                                    <label class="form-label">Size</label>
                                    <select name="size_1[]" id="size" class="form-select">
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                        <option value="XL">XL</option>
                                        <option value="XXL">XXL</option>
                                        <option value="3XL">3XL</option>
                                        <option value="Over">Over Size</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label for="inputZip" class="form-label" required pattern="\S+.*">Quantity</label>
                                    <input name="count_1[]" type="number" class="form-control" id="count" min="0">
                                </div>
                                <div class="col-3">
                                    <label for="inputZip" class="form-label">Action</label>
                                    <button class="btn btn-success add_itemSize">Add Size</button>
                                </div>
                            </div>

                        </div>

                        <div class="col-1">
                            <label for="inputZip" class="form-label">Action</label>
                            <button class="btn btn-danger remove_item_btn" name="">Remove</button>
                        </div>

                    </div>
                </div>


                <div style="width: 100%" class="mt-4">
                    <a href="/product" class="btn btn-secondary">
                        Cancel
                    </a>

                    <button type="submit" class="btn btn-primary" id="add_product">Add Product</button>
                </div>

            </form>

        </div>
    </div>
</div>
<script src="/vendor/jquery/jquery.min.js"></script>
<script>
    var stt = 1;
    $(document).ready(function () {
        $(".add_item_btn").click(function (e) {
            stt += 1;
            e.preventDefault();
            $("#product_list_color").prepend(`<div class="row p-2 mt-1" style="border: 1px solid rebeccapurple; border-radius: 10px">
<div class="col-1">
                            <label for="inputCity" class="form-label" required pattern="\S+.*">STT</label>
                            <input name="stt[]" type="text" class="form-control" id="inputCity" readonly
                                   value="` + stt + `">
                        </div>
                        <div class="col-2">
                            <label for="inputCity" class="form-label" required pattern="\S+.*">Name Color</label>
                            <input name="nameColor[]" type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="col-2">
                            <label for="inputPriceProduct" class="form-label">Image</label>
                            <input name="colorImage" class="form-control" type="file" id="AddContentImage" required>
                        </div>
                        <div class="col-5 row ms-1 p-1  me-1" style="border: 1px solid red;border-radius: 10px ">
                            <div class="col-4">
                                <label class="form-label">Size</label>
                                <select name="size_` + stt + `[]" id="size" class="form-select">
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="XXL">XXL</option>
                                    <option value="3XL">3XL</option>
                                    <option value="Over">Over Size</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <label for="inputZip" class="form-label" required pattern="\S+.*">Quantity</label>
                                <input name="count_` + stt + `[]" type="number" class="form-control" id="count" min="0">
                            </div>
                            <div class="col-3">
                                <label for="inputZip" class="form-label">Action</label>
                                <button class="btn btn-success add_itemSize">Add Size</button>
                            </div>

                        </div>

                        <div class="col-1">
                            <label for="inputZip" class="form-label">Action</label>
                            <button class="btn btn-danger remove_item_btn" name="">Remove</button>
                        </div>

                    </div>`);
        });

        $(document).on("click", ".remove_item_btn", function (e) {
            stt -= 1;
            e.preventDefault();
            let row_item = $(this).parent().parent();
            $(row_item).remove();
        });
        $(document).on("click", ".remove_size_btn", function (e) {
            e.preventDefault();
            let row_item = $(this).parent().parent();
            $(row_item).remove();
        });

        $(document).on("click", ".add_itemSize", function (e) {
            e.preventDefault();
            let row_size = $(this).parent().parent();
            $(row_size).prepend(`<div class="row">
                                <div class="col-4">
                                    <label class="form-label">Size</label>
                                    <select name="size_` + stt + `[]" id="size" class="form-select">
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                        <option value="XL">XL</option>
                                        <option value="XXL">XXL</option>
                                        <option value="3XL">3XL</option>
                                        <option value="Over">Over Size</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label for="inputZip" class="form-label" required pattern="\S+.*">Quantity</label>
                                    <input name="count_` + stt + `[]" type="number" class="form-control" id="count">
                                </div>
                                <div class="col-3">
                                    <label for="inputZip" class="form-label">Action</label>
                                    <button class="btn btn-danger remove_size_btn" name="" >Remove </button>
                                </div>
                            </div>`);
        });
    });

</script>
</body>

</html>
