<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="https://www.coolmate.me/images/favicon.png"/>
    <title>Áo Thun, Áo Phông Nam - Cool Mate</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/hover.css" rel="stylesheet"/>
    <script src="../js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: Helvetica;
            font-size: 16px;
        }

        .nav_app {
            font-size: 18px;
        }

        .btn-addProduct {
            width: 300px;
            height: 48px;
            background: #2F5ACF;
            font-size: 20px;
            border-radius: 56px;
        }

        .box-show {
            width: 1229px;
            height: 494px;
            background: #FFFFFF;
            border: 1px solid #000000;
            box-shadow: -16px 15px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            font-size: 20px;
            margin: 0px;
            padding: 10px;

        }

        .content-main {
            width: 680px;
        }

        .inputID {
            width: 128px;
            height: 38px;
            background: #FFFFFF;
            border: 1px solid rgba(97, 117, 134, 0.2);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            padding-left: 10px;
            font-size: 14px;
        }

        .inputName {
            width: 263px;
            height: 38px;
            background: #FFFFFF;
            border: 1px solid rgba(97, 117, 134, 0.2);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            padding-left: 10px;
            font-size: 14px;
            margin-top: 2px;
        }

        .inputPrice {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            width: 161px;
            height: 32px;
            font-size: 14px;
            background: #FFFFFF;
            padding-left: 10px;
            padding-right: 10px;
            border: 1px solid rgba(97, 117, 134, 0.2);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            margin-top: 7px;
        }

        .input-des {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 10px;
            width: 401px;
            height: 126px;
            background: #FFFFFF;
            border: 1px solid rgba(97, 117, 134, 0.2);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
        }

        .labelInput {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            margin-left: 6px;
            color: #000000;
        }

        .fieldSelect {
            background: #FFFFFF;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            width: 208px;
            height: 44px;
            font-size: 16px;
            padding-left: 10px;
            padding-right: 10px;
            border: none;
        }

        .labelSelect {
            font-size: 16px;
            width: 100%;
            line-height: 20px;
            margin: 0px;
            color: black;
        }

        .preview_color {
            display: grid;
            grid-template-columns: auto auto auto;
            row-gap: 10px;
            padding: 0px;
            width: 415px;
            height: 420px;
            max-height: 420px;
            overflow: auto;
            box-sizing: border-box;
        }

        .row_preview_color {
            width: 125px;
            height: 154px;
            background: #F1F4FB;
            border-radius: 30px;
            display: block;
        }

        .img-row-preview {
            width: 97px;
            height: 137px;
            border-radius: 20px;
            margin-left: 14px;
            margin-top: 8px;
            background-color: #E4E7ED;
        }

        .color-preview {
            width: 24px;
            height: 24px;
            border: 1px solid black;
            background-color: white;
            border-radius: 6px;
        }

        .img-preview {
            height: 100px;
            padding: 0;
            margin-left: 14px;
            margin-top: 20px;
            max-width: 70px;
            min-width: 70px;
        }

        .color-preview {
            position: relative;
            padding: 0;
            left: 70px;
            bottom: 10px;
        }

        .btn-addProduct {
            border: 2px solid #2F5ACF;
            background-color: white;
        }

        .btn-addProduct:hover {
            background-color: #2F5ACF;
            color: white;
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- Navbar -->
        <div class="nav_app col-auto col-md-3 col-xl-2 px-sm-2 px-0"
             style="box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);">
            <div class="d-flex flex-column align-items-center  px-3 pt-2 text-black min-vh-100">
                <a href="/" class="d-flex align-items-center  mb-md-3 mt-md-3 text-black text-decoration-none">
                    <img src="../image/logo-app.svg" width="126" height="45">
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100"
                    id="menu"
                    style="width: 126px">
                    <li class="nav-item ps-1">
                        <a href="/dashboard" class="nav-link align-middle px-0 align-self-center" id="nav-btn">
                            <img src="../image/icon/dashboard-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline " style="color: black">Thông báo</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/message" class="nav-link align-middle px-0 align-self-center" id="nav-btn">
                            <img src="../image/icon/Chat-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Tin nhắn</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/product" id="nav-btn" class="nav-link align-middle px-0 align-self-center"
                           style="background-color: #b6b6b6">
                            <img src="../image/icon/product-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Sản phẩm</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/customers" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/customer-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Người dùng</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/bills" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/bill-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Hóa đơn</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/voucher-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Phiếu giảm giá</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/noti" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/notifi-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Thông báo</span>
                        </a>
                    </li>
                </ul>
                <hr style="width: 100%; color: black;margin-bottom: 12px">
                <div class="dropdown align-items-center" style="width: 100% ;height: 60px;padding-bottom: 10px">
                    <a href="#"
                       class=" rounded d-flex align-items-center text-black text-decoration-none dropdown-toggle"
                       id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false"
                       style="width: 100%; height: 100%;margin-bottom: 20px">
                        <img src="../image/chengwei-pan-2.jpg" width="30" height="30"
                             class="rounded-circle" style="margin-left: 30px;margin-right: 20px">
                        <span class="d-none d-sm-inline mx-1" style="color: black">{{nameNav}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/login">Sign out
                            <img src="../image/icon/logout-icon.svg" width="30" height="30"
                                 style="margin-left: 40px"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- end Navbar -->
        <!-- Content -->
        <div class="col " style=" width: 100%;display: block;box-sizing: border-box; overflow: auto;max-height: 722px">


            <form class="row" action="" method="post" style="padding-bottom: 20px;width: 100%;padding-top: 15px"
                  id="form_add"
                  enctype="multipart/form-data">
                <div class="row" style="padding: 0px;margin-left: 16px">
                    <div class="box-show row" style="padding-left: 26px;padding-right: 0px;">
                        <div style="width: 100%;font-style: normal;
                    font-size: 40px;line-height: 44px;color: #2F5ACF;height: 40px"><span>Add Product</span></div>
                        <div class="content-main col-7 ">
                            <div class="row">
                                <div class="content-left col-8" style="width: 402px;padding: 0px;margin-top: 8px">
                                    <div class="col-12 row" style="width: 100%">
                                        <div style="width: 263px;height: 67px">
                                            <label for="inputNameProduct" class="labelInput">Tên sản phẩm</label>
                                            <div class="col-sm-5">
                                                <input name="nameProduct" type="text" class="inputName"
                                                       id="inputNameProduct"
                                                       required placeholder="Tên sản phẩm"
                                                       pattern="\S+.*">
                                            </div>
                                        </div>
                                        <div style="width: 128px;height: 67px;margin-left: 10px">
                                            <label for="inputNameProduct" class=" labelInput">Mã sản phẩm</label>
                                            <div style="margin-top: 2px">
                                                <input name="idProduct" type="text" class="inputID" id="inputIDProduct"
                                                       required
                                                       pattern="\S+.*" placeholder="SP001">
                                            </div>
                                        </div>
                                    </div>

                                    <div style="margin-top: 4px">
                                        <label for="inputPriceProduct" class="labelInput">Mô tả sản phẩm</label>
                                        <textarea class="input-des" id="Description" name="Description" required
                                                  pattern="\S+.*" placeholder="Write something ..."
                                                  style="padding: 10px;margin-top: 4px"></textarea>
                                    </div>
                                    <div class="col-12 row" style="width: 100%;margin-top: 12px">
                                        <div class="col" style="width: 162px;height: 55px">
                                            <label for="inputPriceProduct" class="labelInput">Giá gốc</label>
                                            <div class="col-sm-5">
                                                <input name="priceProduct" type="number" class="inputPrice"
                                                       id="inputPriceProduct" required
                                                       min="0" placeholder="0.00">
                                            </div>
                                        </div>
                                        <div class="col " style="width: 162px;height: 55px">
                                            <label for="inputPriceProduct" class="labelInput">Giá bán</label>
                                            <div class="col-sm-5">
                                                <input name="sellingPriceProduct" type="number" class="inputPrice"
                                                       id="inputPriceProduct" required
                                                       min="0" placeholder="0.00">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row align-items-center"
                                         style="margin-top: 15px;margin-left: 16px;align-items: center">
                                        <input class="col-1" type="checkbox" onclick="showInputChecked()"
                                               id="checkRebate"
                                               style="width: 24px;height: 24px;border-radius: 8px">
                                        <label class="col" style="font-size: 16px;font-weight: 400;color: #000000">
                                            Giảm giá
                                        </label>

                                    </div>
                                    <input name="rebate" type="number" class="inputPrice"
                                           id="rebate" required value="0" style="display: none"
                                           min="0" max="100">
                                </div>
                                <div class="content-right col-4" style="width: 230px">
                                    <!--category-->
                                    <div class="row">
                                        <div class="col-12" style="height: 65px">
                                            <label for="inputState" class="labelSelect">Kiểu dáng</label>
                                            <select id="inputState" class="fieldSelect" name="style">
                                                <option value="Oversize"> Oversize</option>
                                                <option value="Regular fit"> Regular fit</option>
                                                <option value="Áo ngắn tay"> Áo ngắn tay</option>
                                                <option value="Áo dài tay"> Áo dài tay</option>
                                            </select>
                                        </div>
                                        <div class="col-12" style="height: 65px;margin-top: 14px">
                                            <label for="inputState" class="labelSelect">Danh mục</label>
                                            <select id="inputState" class="fieldSelect" name="Catalog">
                                                <option value="Áo thun"> Áo thun</option>
                                                <option value="Áo sơ mi"> Áo sơ mi</option>
                                                <option value="Áo khoác"> Áo khoác</option>
                                                <option value="Áo polo"> Áo polo</option>
                                                <option value=" Áo tank top"> Áo tank top</option>
                                                <option value=" Áo thể thao"> Áo thể thao</option>
                                                <option value=" Áo in hình"> Áo in hình</option>
                                                <option value=" Áo khoác thể thao"> Áo khoác thể thao</option>
                                            </select>
                                        </div>
                                        <div class="col-12" style="height: 65px;margin-top: 14px">
                                            <label for="inputState" class="labelSelect">Chất liệu</label>
                                            <select id="inputState" class="fieldSelect" name="material">
                                                <option value="Cotton"> Cotton</option>
                                                <option value="Polyester"> Polyester</option>
                                                <option value="Recycle"> Recycle</option>
                                                <option value="Excool"> Excool</option>
                                                <option value="Cafe"> Cafe</option>
                                                <option value="Denim"> Denim</option>
                                                <option value="Kaki"> Kaki</option>
                                                <option value="Bamboo"> Bamboo</option>
                                            </select>
                                        </div>
                                        <div class="col-12" style="height: 65px;margin-top: 14px">
                                            <label for="inputState" class="labelSelect">Mục đích</label>
                                            <select id="inputState" class="fieldSelect" name="purpose">
                                                <option value="Chơi thể thao"> Chơi thể thao</option>
                                                <option value="Đi làm"> Đi làm</option>
                                                <option value="Đi chơi"> Đi chơi</option>
                                                <option value="Đi du lịch"> Đi du lịch</option>
                                                <option value="Đi đi học"> Đi đi học</option>
                                                <option value="Ở nhà"> Ở nhà</option>
                                            </select>
                                        </div>
                                        <div class="col-12" style="height: 65px;margin-top: 14px">
                                            <label for="inputState" class="labelSelect">Tính năng</label>
                                            <select id="inputState" class="fieldSelect" name="feature">
                                                <option value="Chống nhăn"> Chống nhăn</option>
                                                <option value="chống tia UV"> chống tia UV</option>
                                                <option value="Chống nắng"> Chống nắng</option>
                                                <option value="Co dãn tốt"> Co dãn tốt</option>
                                                <option value="Mềm mại"> Mềm mại</option>
                                                <option value="Thoải mái"> Thoải mái</option>
                                                <option value="Nhanh khô"> Nhanh khô</option>
                                                <option value="Thoáng khí"> Thoáng khí</option>
                                                <option value="Thấm hút tốt"> Thấm hút tốt</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!--preview-->
                        <div class="col-5 row justify-content-end">
                            <div class="preview_color" id="preview_color">
                                <div class="row_preview_color justify-content-end" id="row_preview_color_1">
                                    <div class=" img-row-preview ">
                                        <img class="img-preview " id="img_1" style="border: 0px">
                                        <div class=" color-preview  " id="color_1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="box-show" style="padding-left: 26px;margin-left: 16px;margin-top: 12px">
                    <div style="width: 100%" class="mt-1">
                        <button class="btn btn-success add_item_btn">Thêm màu</button>
                    </div>
                    <div class="table-responsive mt-3" style="max-height: 327px">
                        <table class="table table-bordered table-responsive" style="text-align: center;margin-top: 20px;margin-bottom: 0px
                    ;min-height:327px;overflow: auto">
                            <thead>
                            <tr style="font-size: 20px">
                                <th class="col-1" scope="col">STT</th>
                                <th class="col-2" scope="col">Tên màu</th>
                                <th class="col-1" scope="col">Mã màu</th>
                                <th class="col-3" scope="col">Ảnh sản phẩm</th>
                                <th class="col-4" scope="col">
                                    <div class="row">
                                        <div class="col-4">
                                            Size
                                        </div>
                                        <div class="col-4">
                                            Số lượng
                                        </div>
                                    </div>


                                </th>
                                <th class="col-1" scope="col"></th>
                            </tr>
                            </thead>
                            <tbody id="product_list_color">
                            <tr>
                                <th>
                                    <div>
                                        <input name="stt[]" type="text" class="form-control" id="stt"
                                               readonly
                                               value="1" style="text-align: center">
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <input name="nameColor[]" type="text" class="form-control"
                                               id="inputCity"
                                               required placeholder="Name Color"
                                               pattern="\S+.*">
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <input type="color" value="#ffffff" name="colorCode[]"
                                               style="width: 38px;height: 38px;border-radius: 10px;padding: 0;border: none"
                                               onchange="loadColor(event,1)">
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <input name="colorImage" class="form-control" type="file" accept="image/*"
                                               id="1" required onchange="loadFile(event,1)">
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <div class="row">
                                            <div class="col-4">
                                                <select name="size_1[]" id="size" class="form-select">
                                                    <option value="S">S</option>
                                                    <option value="M">M</option>
                                                    <option value="L">L</option>
                                                    <option value="XL">XL</option>
                                                    <option value="XXL">XXL</option>
                                                    <option value="3XL">3XL</option>
                                                    <option value="Over">Over Size</option>
                                                </select>
                                            </div>
                                            <div class="col-4">
                                                <input name="count_1[]" type="number" class="form-control" id="count"
                                                       min="0" required
                                                       pattern="\S+.*" placeholder="Số lượng">
                                            </div>
                                            <div class="col-4 row align-items-end">
                                                <button class="btn btn-success add_itemSize">Thêm size
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </th>
                                <th>
                                    <div class="col-1">
                                        <button class="btn btn-danger remove_item_btn" style="margin-left: 14px">Xóa
                                        </button>
                                    </div>
                                </th>


                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div style="width: 100%;text-align: right;margin-top: 30px">

                        <button type="submit" class=" btn-addProduct" id="add_product"
                                style="border-radius: 56px;width: 258px;height: 54px; font-size: 20px">Thêm sản phẩm
                        </button>
                    </div>


                </div>


            </form>

        </div>
    </div>
</div>
<script src="/vendor/jquery/jquery.min.js"></script>
<script>
    var stt = 1;
    $(document).ready(function () {
        $(".add_item_btn").click(function (e) {
            stt += 1;

            e.preventDefault();
            $("#product_list_color").prepend(`<tr>
                            <th>
                                <div>
                                    <input name="stt[]" type="text" class="form-control" id="stt"
                                           readonly
                                           value="` + stt + `" style="text-align: center">
                                </div>
                            </th>
                            <th>
                                <div>
                                    <input name="nameColor[]" type="text" class="form-control"
                                        required placeholder="Name Color"  pattern="\\S+.*" >
                                </div>
                            </th>
                            <th>
                                <div>
                                    <input type="color" value="\#ffffff"
                                           name="colorCode[]" onchange="loadColor(event,` + stt + `)"
                                           style="width: 38px;height: 38px;border-radius: 5px;padding: 0;border: none" >
                                </div>

                            </th>
                            <th>
                                <div>
                                    <input name="colorImage" class="form-control" type="file" accept="image/*"
                                           id="AddContentImage" onchange="loadFile(event,` + stt + `)"
                                           required>
                                </div>
                            </th>
                            <th>
                                <div>
                                    <div class="row">
                                        <div class="col-4">
                                            <select name="size_` + stt + `[]" id="size" class="form-select">
                                                <option value="S">S</option>
                                                <option value="M">M</option>
                                                <option value="L">L</option>
                                                <option value="XL">XL</option>
                                                <option value="XXL">XXL</option>
                                                <option value="3XL">3XL</option>
                                                <option value="Over">Over Size</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <input name="count_` + stt + `[]" type="number" class="form-control" id="count"
                                                   min="0" placeholder="Số lượng" required  pattern="\S+.*">
                                        </div>
                                        <div class="col-4 row align-items-end">
                                            <button class="btn btn-success add_itemSize">Thêm size</button>
                                        </div>
                                    </div>

                                </div>
                            </th>
                            <th>
                                    <div class="col-1">
                                        <button class="btn btn-danger remove_item_btn" style="margin-left: 14px">Xóa </button>
                                    </div>
                                </th>


                        </tr>`);
            $("#preview_color").prepend(`<div class=" row_preview_color justify-content-end" id="row_preview_color_` + stt + `">
                                    <div class=" row img-row-preview " >
                                        <img class="img-preview" id="img_` + stt + `">
                                        <div class=" color-preview  " id="color_` + stt + `">
                                        </div>
                                    </div>
                                </div>`)

        });

        $(document).on("click", ".remove_item_btn", function (e) {
            stt -= 1;
            e.preventDefault();
            let row_item = $(this).parent().parent().parent();
            let colorRow = $(this).parent().parent().parent();
            let value = colorRow.children().children().children("#stt").val();
            let row_preview = $("#row_preview_color_" + value);
            $(row_item).remove();
            $(row_preview).remove();
        });
        $(document).on("click", ".remove_size_btn", function (e) {
            e.preventDefault();
            let row_item = $(this).parent().parent();
            $(row_item).remove();
        });

        $(document).on("click", ".add_itemSize", function (e) {
            e.preventDefault();
            let row_size = $(this).parent().parent().parent();
            let colorRow = $(this).parent().parent().parent().parent().parent();
            let value = colorRow.children().children().children("#stt").val();
            $(row_size).prepend(`<div class="row" style="margin-bottom: 10px">
                                <div class="col-4">
                                    <select name="size_` + value + `[]" id="size" class="form-select">
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                        <option value="XL">XL</option>
                                        <option value="XXL">XXL</option>
                                        <option value="3XL">3XL</option>
                                        <option value="Over">Over Size</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <input name="count_` + value + `[]" type="number" class="form-control"
                                        id="count" required pattern="\S+.*" placeholder="Số lượng">
                                </div>
                                <div class="col-4 row align-items-end" >
                                    <button class="btn btn-danger remove_size_btn" name="" >Xóa</button>
                                </div>
                            </div>`);
        });
    });

    function showInputChecked() {
        // Get the checkbox
        var checkBox = document.getElementById("checkRebate");
        // Get the output text
        var text = document.getElementById("rebate");

        // If the checkbox is checked, display the output text
        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    };

    var loadFile = function (event, stt) {
        var output = document.getElementById('img_' + stt);
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src)
        }
    };
    var loadColor = function (event, stt) {
        var output = document.getElementById('color_' + stt);
        output.style.backgroundColor = event.target.value;
    };
</script>
</body>

</html>
