<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
  <link rel="shortcut icon" href="https://www.coolmate.me/images/favicon.png" />
  <title>Áo Thun, Áo Phông Nam - Cool Mate</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/hover.css" rel="stylesheet"/>
    <script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: Helvetica;
            font-size: 16px;
        }

        .nav_app {
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- Navbar -->
        <div class="nav_app col-auto col-md-3 col-xl-2 px-sm-2 px-0"
             style="box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);">
            <div class="d-flex flex-column align-items-center  px-3 pt-2 text-black min-vh-100">
                <a href="/" class="d-flex align-items-center  mb-md-3 mt-md-3 text-black text-decoration-none">
                    <img src="../image/logo-app.svg" width="126" height="45">
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100"
                    id="menu"
                    style="width: 126px">
                    <li class="nav-item ps-1">
                        <a href="/dashboard" class="nav-link align-middle px-0 align-self-center" id="nav-btn" style="background-color: #b6b6b6">
                            <img src="../image/icon/dashboard-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline " style="color: black">Thống kê</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/message" class="nav-link align-middle px-0 align-self-center" id="nav-btn">
                            <img src="../image/icon/Chat-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Tin nhắn</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/product" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/product-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Sản phẩm</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/customers" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/customer-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Người dùng</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/bills" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/bill-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Hóa đơn</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/voucher-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Phiếu giảm giá</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/noti" id="nav-btn" class="nav-link align-middle px-0 align-self-center">
                            <img src="../image/icon/notifi-icon.svg" width="30" height="30"> <span
                                class="ms-1 d-none d-sm-inline" style="color: black">Thông báo</span>
                        </a>
                    </li>
                </ul>
                <hr style="width: 100%; color: black;margin-bottom: 12px">
                <div class="dropdown align-items-center" style="width: 100% ;height: 60px;padding-bottom: 10px">
                    <div
                            class=" rounded d-flex align-items-center text-black text-decoration-none dropdown-toggle"
                            id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false"
                            style="width: 100%; height: 100%;margin-bottom: 20px">
                        <img src="../{{avatar}}" width="30" height="30"
                             class="rounded-circle" style="margin-left: 10px;margin-right: 10px">
                        <span class="d-none d-sm-inline mx-1" style="color: black">{{nameNav}}</span>
                    </div>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="/adminInfo/{{idUser}}">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/login">Đăng xuất
                            <img src="../image/icon/logout-icon.svg" width="30" height="30"
                                 style="margin-left: 40px"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- end Navbar -->
        <!-- Content -->
        <div class="col py-3" style=" width: 100%;text-align: center;display: block;overflow: auto; max-height: 100vh">
            <h2>DASHBOARD</h2>
            <div class="row">

                <div class="col-xl-8 col-lg-7">

                    <!-- Area Chart -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Doanh số</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myAreaChart"></canvas>
                            </div>
                            <hr>
                            Doanh số 2022
                        </div>
                    </div>
                    <!-- Area Chart -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Hóa đơn</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                              <div class="row">
                                <div class="col-xl-3 col-md-6">
                                  <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Tổng số đơn hàng</div>
                                    <p class="card-body ms-0 mt-0 fs-1">100</p>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                      <a class="small text-white stretched-link"></a>
                                      <div class="small text-white"><svg class="svg-inline--fa" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="null" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><undefined></undefined></svg><!-- <i class="fas"></i> Font Awesome fontawesome.com --></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                  <div class="card text-white mb-4" style="background-color: #7e7e80; color: #7e7e80; border-color: #7e7e80">
                                    <div class="card-body">Đơn hàng đang chờ</div>
                                    <p class="card-body ms-0 mt-0 fs-1">10</p>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                      <a class="small text-white stretched-link" href="/pending-orders">Chi tiết</a>
                                      <div class="small text-white"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                  <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Đơn hàng đang được giao</div>
                                    <p class="card-body ms-0 mt-0 fs-1">30</p>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                      <a class="small text-white stretched-link" href="/delivering-order">Chi tiết</a>
                                      <div class="small text-white"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                  <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Đơn hàng thành công</div>
                                    <p class="card-body ms-0 mt-0 fs-1">55</p>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                      <a class="small text-white stretched-link" href="/completed-orders">Chi tiết</a>
                                      <div class="small text-white"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                  <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Đơn hàng bị huỷ</div>
                                    <p class="card-body ms-0 mt-0 fs-1">5</p>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                      <a class="small text-white stretched-link" href="/canceled-orders">Chi tiết</a>
                                      <div class="small text-white"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <hr>
                            Hóa đơn 2022
                        </div>
                    </div>
                    <!-- Area Chart -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Sản phẩm</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                              <div class="row">
                                <div class="col-xl-3 col-md-6">
                                  <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Tổng số sản phẩm</div>
                                    <p class="card-body ms-0 mt-0 fs-1">71</p>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                      <a class="small text-white stretched-link"></a>
                                      <div class="small text-white"><svg class="svg-inline--fa" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="null" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><undefined></undefined></svg><!-- <i class="fas"></i> Font Awesome fontawesome.com --></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                  <div class="card text-white mb-4" style="background-color: #7e7e80; color: #7e7e80; border-color: #7e7e80">
                                    <div class="card-body">Sản phẩm đang bán</div>
                                    <p class="card-body ms-0 mt-0 fs-1">40</p>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                      <a class="small text-white stretched-link" href="/pending-orders">Chi tiết</a>
                                      <div class="small text-white"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                  <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Sản phẩm hết hàng</div>
                                    <p class="card-body ms-0 mt-0 fs-1">7</p>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                      <a class="small text-white stretched-link" href="/delivering-order">Chi tiết</a>
                                      <div class="small text-white"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                  <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Sắp ra mắt</div>
                                    <p class="card-body ms-0 mt-0 fs-1">19</p>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                      <a class="small text-white stretched-link" href="/completed-orders">Chi tiết</a>
                                      <div class="small text-white"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                  <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Sản phẩm ngừng kinh doanh</div>
                                    <p class="card-body ms-0 mt-0 fs-1">5</p>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                      <a class="small text-white stretched-link" href="/canceled-orders">Chi tiết</a>
                                      <div class="small text-white"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <hr>
                        </div>
                    </div>

                </div>

                <!-- Donut Chart -->
                <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Người dùng</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-pie pt-4">
                                <canvas id="myPieChart"></canvas>
                            </div>
                            <hr>
                            thống kê người dùng trong hệ thống
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>
</body>

</html>
