<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>App</title>
  <link href="css/bootstrap.min.css" rel="stylesheet" >
  <script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</head>
<body class="bg-dark">
{{ message }}
</body>
</html>