<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
  <link rel="shortcut icon" href="https://www.coolmate.me/images/favicon.png" />
  <title>Áo Thun, Áo Phông Nam - Cool Mate</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/hover.css" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">

        <!-- Content -->
        <section class="vh-100 ">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card text-black" style="border-radius: 20px;background-color: #ffffff;box-shadow: -5px 10px #888888;">
                            <div class="card-body p-5 text-center">
                                {{#if msg}}
                                    {{{msg}}}
                                {{/if}}
                                <form  class="pb-5" method="post">
                                    <img class="mb-2" src="image/logo-app.svg" width="200" height="60">

                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                                               style="color: black" autocomplete="off" name="email">
                                        <label for="floatingInput" style="color: black">Email address</label>
                                    </div>
                                    <div class="form-floating mb-5">
                                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                                               style="color: black" autocomplete="off" name="password">
                                        <label for="floatingPassword"style="color: black">Password</label>
                                    </div>

                                    <button class="btn btn-outline-dark btn-lg px-5" type="submit">Login</button>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>
</body>
</html>
